---
import { type CollectionEntry, getCollection } from 'astro:content'
import FormattedDate from '../../components/FormattedDate.astro'
import BlogPost from '../../layouts/BaseLayout.astro'

export async function getStaticPaths() {
    const posts = await getCollection('blog')
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: post
    }))
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props
const { Content } = await post.render()
---

<BlogPost {...post.data}>
    <a href="/"><p>Go Back</p></a>
    <h1>{post.data.title}</h1>
    <p>
        <span class="italic">
        <FormattedDate date={post.data.pubDate}></FormattedDate>
            </span>
        {post.data.readTime && <span>- {post.data.readTime}</span>}
    </p>

    <div class="flex flex-col [&_img]:hidden">
        <Content />
    </div>
</BlogPost>
