---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout title="Imprint" description="Alexander Betz's Blog">
    <a href="/"><p>Go Back</p></a>

    <h1>Imprint</h1>

    <p>
        Alexander Betz<br>
        Schlossweg 20, Tür 2<br>
        3240 Mank<br>
        Österreich
    </p>

    <p>
        E-Mail: <a href="mailto:synonym_bonus0p@icloud.com">[verborgene E-Mail Adresse]</a>
    </p>
</BaseLayout>
