---
import ColorPicker from './ColorPicker.astro'
---

<div class="max-w-[600px] mx-auto sticky bottom-0 right-0">
    <div class="flex justify-end p-4">
        <div id="color-picker-container" popover>
        </div>

        <div class="what-really-should-be-visible flex-1 mr-2">
            <ColorPicker></ColorPicker>
        </div>

        <button
            popovertarget="color-picker-container"
            aria-label="Select text color"
            class="h-[30px] w-[30px] border-2 border-[#eeeeee] rounded-full bg-primary">
        </button>
    </div>
</div>

<style>
  #color-picker-container:popover-open + .what-really-should-be-visible {
    transform: translateY(0);
    opacity: 1;
  }

  .what-really-should-be-visible {
    transition: all 0.3s;
    transform: translateY(100%);
    opacity: 0;
  }
</style>

