---
import ColorPicker from './ColorPicker.astro'
---

<header class="max-w-[600px] mx-auto">
    <nav class="flex justify-between">
        <a href="/">
            <h1>Alexander Betz</h1>
        </a>

        <ColorPicker></ColorPicker>
    </nav>
</header>
