---
type Props = astroHTML.JSX.ImgHTMLAttributes;

const { src, ...props } = Astro.props

if (!props.alt) {
    console.warn('Every <Image> should have an alt text. Occurrence:', src)
}
---

<astro-image>
    <div class="py-[1rem]">
        <img src={src} {...props} class="mx-auto pb-[calc(1rem_-_mod(calc(100%_/_var(--img-aspect-ratio)),1rem))]" />
    </div>
</astro-image>

<script>
    class AstroImage extends HTMLElement {
        constructor() {
            super()
            const img = this.querySelector('img')

            img?.addEventListener('load', () => {
                img?.style.setProperty('--img-aspect-ratio', (img.naturalWidth / img.naturalHeight).toString())
            })
            if (img) {
                img.style.setProperty('--img-aspect-ratio', (img.naturalWidth / img.naturalHeight).toString())
            }
        }
    }

    customElements.define('astro-image', AstroImage)
</script>
